@tailwind base;
@tailwind components;
@tailwind utilities;

.radial-blue {
  background: radial-gradient(lightyellow, skyblue);
}

.panel {
  @apply w-[200px] h-full shadow-2xl rounded-[50px] flex-auto cursor-pointer bg-cover bg-no-repeat relative;
  transition: width 1s ease-in-out;
}

.panel.active {
  @apply w-full;
}

.panel.active h3 {
  @apply opacity-100 transition-opacity duration-300 ease-in delay-400;
}

.panel:not(.active) h3 {
  @apply opacity-0 transition-opacity duration-300 ease-in delay-400;
}

@layer utilities {
  .delay-400 {
    animation-delay: 1s;
  }
}
